#version {
  font-size: 12px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  z-index: 3;
}

#layoutContainer video {
  object-fit: contain !important; 
}

.OT_publisher {
  top:0 !important;
  left: 0 !important;
  width: 90px !important;
  height: 60px !important;
  z-index: 2;
}

/* .OT_subscriber {
  top:0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index:1;
} */

.image-item.selected {
  padding:4px;
  background: red 4px;
}