/* Due to Vonage..  Overrides Webstudio styles */
#close-you-host-live-button {
  left: 15px !important;
  bottom: 15px !important;
}

#layoutContainer {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 8px;
    background: #00B140;
    overflow: hidden;
    z-index: 1;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row !important;
  gap: 5px !important;
  z-index: 2;
}

.image-item {
  position: relative;
  overflow: hidden;
  flex: none;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  transition: transform 0.5s ease;  /* Smooth scale on hover */
  transform-origin: center;         /* Keep scaling centered */
}

/* Scale both image and button when parent is hovered */
.image-item:hover {
  transform: scale(4);
  z-index: 10;  /* Ensure it appears above neighbors */
}

/* Image inside the scaling container */
.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: filter 0.3s ease;
}

/* Hover button overlay */
.hover-btn {
  position: absolute;
  /* height: 20px; */
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 2px 5px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 2;
  cursor: pointer;
  /* Keep text on one line */
  white-space: nowrap;
}

/* Button becomes visible and clickable on hover */
.image-item:hover .hover-btn {
  opacity: 1;
  pointer-events: auto;
}